<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="restaurar-password">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <header-page url="/home"></header-page>
    <section>
      <article>
        <div class="container">
          <div class="row justify-content-center">
              <h3>Define tu nueva Password</h3>
          </div>
          <div class="row">
            <div class="col">
              <paper-input id="idPass" type="password" label="Password" error-message="Minimo 8 caracteres" required value="{{password::input}}" pattern="[A-Za-z0-9!?-]{8,12}"/></paper-input>
            </div>
            <div class="col">
              <paper-input id="idPass2" type="password" label="Repite tu password" error-message="Minimo 8 caracteres" required value="{{password2::input}}" pattern="[A-Za-z0-9!?-]{8,12}"/></paper-input>
            </div>
          </div>
          <div id="idCapaError" class="alert alert-danger" role="alert" style="display:none">{{error}}</div>
          <div id="idCapaMsg" class="alert alert-primary" role="alert" style="display:none">{{msg}}</div>
          <br><br>
          <div class="row justify-content-center">
            <div clas="col">
              <button class="btn btn-success" on-click="recPassword">Restaurar Password</button>
              <button class="btn btn-success" on-click="cancelar">Cancelar</button>
            </div>
          </div>
        <div>
      </article>
    </section>
      <iron-ajax
        method="POST"
        id="recPass"
        url="http://localhost:3000/apibr/v1/users/recPass/{{idPass}}"
        handle-as="json"
        content-type="application/json"
        on-response="manageAJAXResponse"
        on-error="showError"
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class RestaurarPassword extends Polymer.Element {
      static get is() { return 'restaurar-password'; }
      static get properties() {
        return {
          password:{
            typer: String
          },
          password2:{
            typer: String
          }
        };
      }

    recPassword(){
      var dataPass = {
        "password": this.password
      };
      if (this.$.idPass.validate() && this.$.idPass2.validate())
      {
        if (this.$.idPass.value == this.$.idPass2.value)
        {
          this.$.recPass.body = JSON.stringify(dataPass);
          this.$.recPass.generateRequest();
        }
        else
        {
          this.$.idPass.invalid = true;
          this.$.idPass2.invalid = true;
          this.$.idPass.errorMessage = "La password tiene que ser igual";
          this.$.idPass2.errorMessage = "La password tiene que ser igual";
        }
      }
    }

    manageAJAXResponse (data){
      this.msg = "Se actualizado tu password";
      this.$.idCapaMsg.style.display="block";
      //window.location = "/newPass/";
    }

    showError (error){
      console.log(error);
      this.$.idCapaError.style.display="block";
      if (error.detail.request.response.msg!=null)
        this.error = error.detail.request.response.msg;
      else {
        this.error = "Se ha producido un error técnico, vuelva a intentarlo mas tarde";
      }
    }

    cancelar()
    {
      window.location = "/home";
    }
  }
    window.customElements.define(RestaurarPassword.is, RestaurarPassword);
  </script>
</dom-module>
