<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="baja-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <header-page url="/accounts/"></header-page>
    <section>
    <article>
      <div class="container">
        <div class="row justify-content-center">
            <h3>Baja de cuenta</h3>
        </div>
        <div class="row">
          <div class="col">
            <paper-input id="idIban" label="Iban" type="text" disabled value="{{idAccount::input}}"></paper-input>
          </div>
        </div>
        <div id="idCapaError" class="alert alert-danger" role="alert" style="display:none">{{error}}</div>
        <div id="idCapaMsg" class="alert alert-primary" role="alert" style="display:none">{{msg}}</div>
        <br><br>
        <div class="row justify-content-center">
            <button class="btn btn-success" on-click="borrar">Dar de baja</button>
        </div>
      <div>
    </article>
  </section>
    <iron-ajax
      id="deleteAccounts"
      url="http://localhost:3000/apibr/v1/accounts/{{idAccount}}"
      method="DELETE"
      handle-as="json"
      on-response="showData"
      on-error="showError"
      headers="{{getHeaders()}}">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BajaCuenta extends Polymer.Element {

      static get is() { return 'baja-cuenta'; }
      static get properties() {
        return {
          msg:{
            type: String
          }
        };
      }

    borrar(){
      this.$.deleteAccounts.generateRequest();
      console.log("petición enviada")
    }

    showData (data){
      this.msg = "Cuenta dada de baja";
      this.$.idCapaMsg.style.display="block";
    }

    showError (error){
      console.log(error);
      this.$.idCapaError.style.display="block";
      if (error.detail.request.response.msg!=null)
        this.error = error.detail.request.response.msg;
      else {
        this.error = "Se ha producido un error técnico, vuelva a intentarlo mas tarde";
      }
    }
    getHeaders()
    {
      //console.log("getHeaders");
      var token = window.sessionStorage.getItem("token");
      var cabecera = {
        "x_access_token": token
      };
      return cabecera;
    }

  }
    window.customElements.define(BajaCuenta.is, BajaCuenta);
  </script>
</dom-module>
