<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/desconectar-usuario/desconectar-usuario.html">
<link rel="import" href="../../bower_components/cpol-currency/cpol-currency.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <header-page url="/accounts/"></header-page>
    <section>
    <article>
      <div class="container">
        <div class="row justify-content-center">
            <h3>Posición global</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">IBAN</th>
              <th scope="col">Alias</th>
              <th scope="col">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{accounts}}">
              <tr>
                <td><a href ="/accounts/{{item.iban}}/transactions/">{{item.iban}}</a></td>
                <td>{{item.alias}}</td>
                <td>
                  <cpol-currency
                    decimal-separator=','
                    value-separator='.',
                    currency-prefix=''
                    amount={{item.balance}}>
                  </cpol-currency> {{item.currency}}</td>
              </tr>
            </template>
          </tbody>
        </table>
            <!--button class="btn btn-link"><a href ="/accounts/{{item.iban}}/transactions/">Consultar Movimientos</a></button>
            <button class="btn btn-link"><a href ="/accounts/{{item.iban}}/deleteAccount/">Baja de cuenta</a></button>
            <button class="btn btn-link"><a href ="/accounts/{{item.iban}}/createWireTransfer/">Hacer transferencia</a></button-->
        <div class="row justify-content-center">
          <button class="btn btn-link" on-click="contratarCuenta">Contratar Cuenta</button>
          <button class="btn btn-link" on-click="gestionarUsuario">Gestionar Usuario</button>
        </div>
        <desconectar-usuario></desconectar-usuario>
      </div>
  </article>
</section>
    <iron-ajax
      auto
      id="getAccounts"
      url="http://localhost:3000/apibr/v1/accounts/"
      handle-as="json"
      on-response="showData"
      headers="{{getHeaders()}}">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {

      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          userid:{
            type: String
          },
          accounts:{
            type: Array
          }
        };
      }

    showData (data){
      //console.log(data);
      //siempre devuelve un array
      console.log(data.detail.response);
      this.userid = (data.detail.response[0]).idUser;
      this.accounts = data.detail.response;
    }

    contratarCuenta(){
      window.location = "/accounts/newAccount";
    }

    gestionarUsuario(){
      window.location = "/getUser/";
    }

    getHeaders()
    {
      //console.log("getHeaders");
      var token = window.sessionStorage.getItem("token");
      var cabecera = {
        "x_access_token": token
      };
      return cabecera;
    }


  }
    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
