<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../src/desconectar-usuario/desconectar-usuario.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="visor-detalle-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
      google-map {
        height: 300px;
        width: 300px;
    }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<header-page url="/accounts/"></header-page>
  <section>
    <article>
      <div class="container justify-content-center">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <paper-input id="idBan" type="text" label="Iban" disabled value="{{iban::input}}"/></paper-input>
              </div>
              <div class="col">
                <paper-input id="idDateTransaction" type="text" label="Fecha Operación"  disabled value="{{date_transaction::input}}"/></paper-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <paper-input id="idBalance" type="Number" label="Importe" disabled value="{{balance::input}}"/></paper-input>
              </div>
              <div class="col">
                <paper-input id="idCategory" type="text" label="Categoria"  disabled value="{{category::input}}"/></paper-input>
              </div>
              <div class="col">
                <paper-input id="idSubCategory" type="text" label="Subcategoria"  disabled value="{{sub_ategory::input}}"/></paper-input>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <paper-input id="idIbanSender" type="text" label="Cuenta Destino" disabled value="{{iban_sender::input}}"/></paper-input>
              </div>
              <div class="col">
                <paper-input id="idRemittanceInformation" type="text" label="Observaciones"  disabled value="{{remittanceInformation::input}}"/></paper-input>
              </div>
            </div>
          </div>
          <div class="col-4">
            <google-map latitude="40.4" longitude="-3.7" zoom=8>
              <google-map-marker latitude="{{lat}}" longitude="{{long}}">
              </google-map-marker>
            </google-map>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-link"><a href ="/accounts/{{idIban}}/transactions/">Volver</a></button>
      </div>
      <desconectar-usuario></desconectar-usuario>
    </article>
</section>
    <iron-ajax
      auto
      id="getDetalleMovimiento"
      url="http://localhost:3000/apibr/v1/accounts/{{idIban}}/transactions/{{idMov}}"
      handle-as="json"
      on-response="showData"
      headers="{{getHeaders()}}">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorDetalleMovimiento extends Polymer.Element {

      static get is() { return 'visor-detalle-movimiento'; }
      static get properties() {
        return {
          iban:{
            type: String
          },
          date_transaction:{
            type: String
          },
          balance:{
            type: String
          },
          currency:{
            type: String
          },
          category:{
            type: String
          },
          sub_category:{
            type: String
          },
          detail:{
            type: String
          },
          iban_sender:{
            type: String
          },
          remittanceInformation:{
            type: String
          },
          coord:{
            type: String
          },
          lat:{
            type: String
          },
          long:{
            type: String
          }
        };
      }

      showData (data){
        //console.log(data);
        //siempre devuelve un array
        console.log("Recibidos datos del usuario");
        var mov = data.detail.response;
        this.iban = mov.iban;
        this.date_transaction = mov.date_transaction;
        this.balance = mov.balance;
        this.currency = mov.currency;
        this.category = mov.category;
        this.sub_category = mov.sub_category;
        this.detail = mov.detail;
        this.remittanceInformation = mov.detail.remittanceInformation;
        this.iban_sender = mov.detail.iban_sender;
        this.coord = mov.coord;
        this.long = mov.coord.long;
        this.lat = mov.coord.lat
        }

        getHeaders()
        {
          //console.log("getHeaders");
          var token = window.sessionStorage.getItem("token");
          var cabecera = {
            "x_access_token": token
          };
          return cabecera;
        }

  }
    window.customElements.define(VisorDetalleMovimiento.is, VisorDetalleMovimiento);
  </script>
</dom-module>
