<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <header-page url="/home"></header-page>
	    <section>
      <article>
        <div class="container">
          <div class="row justify-content-center">
              <h3>Login usuario</h3>
          </div>
          <div class="row">
            <div class="col">
              <paper-input id="idEmail" label="Email" type="email" error-message="Cuenta de correo no valida" required value="{{email::input}}"></paper-input>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <paper-input id="idPass" type="password" label="Password" error-message="Minimo 8 caracteres" required value="{{password::input}}" pattern="[A-Za-z0-9!?-]{8,12}"/></paper-input>
            </div>
          </div>
          <div id="idCapaError" class="alert alert-danger" role="alert" style="display:none">{{error}}</div>
          <br><br>
          <div class="row justify-content-center">
              <button class="btn btn-success" on-click="login">Entrar</button>
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-link" on-click="newUser">Date de alta</button>
            <button class="btn btn-link" on-click="recPass">Recuperar Password</button>
          </div>
        <div>
      </article>
      </section>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apibr/v1/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email:{
            type: String
          },
          password:{
            type: String
          },
          id:{
            type: String
          },
          token:{
            type:String
          }
        };
      }

    login(){
      var loginData = {
        "email": this.email,
        "password": this.password
      };
      if (this.$.idEmail.validate() && this.$.idPass.validate())
      {
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
      }
    }

    manageAJAXResponse (data){
      window.sessionStorage.setItem("token", data.detail.response.token);
      window.location = "/accounts/";
    }

    showError (error){
      console.log(error);
      this.$.idCapaError.style.display="block";
      if (error.detail.request.response.msg!=null)
        this.error = error.detail.request.response.msg;
      else {
        this.error = "Se ha producido un error técnico, vuelva a intentarlo mas tarde";
      }
    }

    newUser(){
      window.location = "/users";
    }

    recPass(){
      window.location = "/recPass";
    }
  }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
