<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<dom-module id="prueba-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h1>PRUEBA</h1>
    <div class="row">
      <h2 class="col-md-12">Login usuario</h2>
    </div>
    <form action="">
      <input type="email" required value="{{email::input}}"/>
      <input type="password" required value="{{password::input}}" pattern="[A-Za-z0-9!?-]{8,12}" placeholder="Alfanumérico entre 8-12 caracteres"/>
      <button on-click="login">login</button>
    </form>
    <button on-click="newUser">nuevoUsuario</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class PruebaApp extends Polymer.Element {
      static get is() { return 'prueba-app'; }
      static get properties() {
        return {
          mail:{
            type: String
          },
          name:{
            type: String
          },
          last_name:{
            type: String
          },
          phone:{
            type: Number
          },
          password:{
            typer: String
          }
        };
      }

    }


    window.customElements.define(PruebaApp.is, PruebaApp);
  </script>
</dom-module>
