<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/desconectar-usuario/desconectar-usuario.html">
<link rel="import" href="../../bower_components/moment-element/moment-element.html">
<link rel="import" href="../../bower_components/iron-time/iron-time.html">
<link rel="import" href="../../bower_components/cpol-currency/cpol-currency.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <header-page url="/accounts/"></header-page>
    <section>
    <article>
      <div class="container">
        <div class="row justify-content-center">
            <h3>Consulta de movimientos {{idIban}}</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Concepto</th>
              <th scope="col">Importe</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{transactions}}">
              <tr>
                <td><a href ="/accounts/{{idIban}}/transactions/{{item._id}}"><iron-time datetime="{{item.date_transaction}}" format="dd-mm-yyyy HH:MM:ss"></iron-time></a></td>
                <td>{{item.concept}}</td>
                <td>
                  <cpol-currency
                    decimal-separator=','
                    value-separator='.',
                    currency-prefix=''
                    amount={{item.balance}}>
                  </cpol-currency> {{item.currency}}</td>
              </tr>
            </template>
          </tbody>
        </table>
        <div class="row justify-content-center">
          <button class="btn btn-link"><a href ="/accounts/{{idIban}}/deleteAccount/">Baja de cuenta</a></button>
          <button class="btn btn-link"><a href ="/accounts/{{idIban}}/createWireTransfer/">Realizar Transferencia</a></button>
          <button class="btn btn-link"><a href ="/accounts/{{idIban}}/createTransfer/">Realizar Traspaso</a></button>
        </div>
        <desconectar-usuario></desconectar-usuario>
      </div>

  </article>
</section>
    </div>
    <iron-ajax
      auto
      id="getMovimientos"
      url="http://localhost:3000/apibr/v1/accounts/{{idIban}}/transactions"
      handle-as="json"
      on-response="showData"
      headers="{{getHeaders()}}">
    </iron-ajax>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {

      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban:{
            type: String
          },
          transactions:{
            type: Array
          }
        };
      }

    showData (data){
      //console.log(data);
      //siempre devuelve un array
      console.log(data.detail.response);
      this.transactions = data.detail.response;
    }

    getHeaders()
    {
      console.log("getHeaders");
      var token = window.sessionStorage.getItem("token");
      var cabecera = {
        "x_access_token": token
      };
      return cabecera;
    }
  }
    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
