<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="nuevo-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<header-page url="/home"></header-page>
<section>
    <article>
      <div class="container">
        <div class="row justify-content-center">
            <h3>Alta de usuario</h3>
        </div>
        <div class="row">
          <div class="col">
            <paper-input id="idName" type="text" label="Nombre" error-message="Debes informar tu nombre" required value="{{name::input}}"/></paper-input>
          </div>
          <div class="col">
            <paper-input id="idLast_Name" type="text" label="Apellidos" error-message="Debes informar tus apellidos" required value="{{last_name::input}}"/></paper-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <paper-input id="idEmail" label="Email" type="email" error-message="Cuenta de correo no valida" required value="{{email::input}}"></paper-input>
          </div>
          <div class="col">
            <paper-input id="idPhone" type="tel" maxlength=9 minlength=9 label="Teléfono" error-message="Debes informar tu teléfono" required value="{{phone::input}}"/></paper-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <paper-input id="idPass" type="password" label="Password" error-message="Minimo 8 caracteres" required value="{{password::input}}" pattern="[A-Za-z0-9!?-]{8,12}"/></paper-input>
          </div>
          <div class="col">
            <paper-input id="idPass2" type="password" label="Repite tu password" error-message="Minimo 8 caracteres" required value="{{password2::input}}" pattern="[A-Za-z0-9!?-]{8,12}"/></paper-input>
          </div>
        </div>
        <div id="idCapaError" class="alert alert-danger" role="alert" style="display:none">{{error}}</div>
        <br><br>
        <div class="row justify-content-center">
          <div class="col">
            <button class="btn btn-success" on-click="newUser">Alta de usuario</button>
            <button class="btn btn-success" on-click="cancelar">Cancelar</button>
          </div>
        </div>
      <div>
    </article>
</section>

    <iron-ajax
      id="doNewUser"
      url="http://localhost:3000/apibr/v1/users"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class NuevoUsuario extends Polymer.Element {
      static get is() { return 'nuevo-usuario'; }
      static get properties() {
        return {
          email:{
            type: String
          },
          name:{
            type: String
          },
          last_name:{
            type: String
          },
          phone:{
            type: Number
          },
          password:{
            typer: String
          },
          password2:{
            typer: String
          }
        };
      }

    newUser(){
      var userData = {
        "email" : this.email,
        "name": this.name,
        "last_name": this.last_name,
        "phone": this.phone,
        "pass": this.password
      };

      if (this.$.idName.validate() && this.$.idLast_Name.validate() && this.$.idEmail.validate() && this.$.idPhone.validate() && this.$.idPass.validate() && this.$.idPass2.validate())
      {
        console.log (this.$.idPass.value)
        console.log (this.$.idPass2.value)
        if (this.$.idPass.value == this.$.idPass2.value)
        {
          this.$.doNewUser.body = JSON.stringify(userData);
          this.$.doNewUser.generateRequest();
        }
        else
        {
          this.$.idPass.invalid = true;
          this.$.idPass2.invalid = true;
          this.$.idPass.errorMessage = "La password tiene que ser igual";
          this.$.idPass2.errorMessage = "La password tiene que ser igual";
        }
      }
    }


    manageAJAXResponse (data){
      window.location = "/home" ;
    }

    showError (error){
      console.log(error);
      this.$.idCapaError.style.display="block";
      if (error.detail.request.response.msg!=null)
        this.error = error.detail.request.response.msg;
      else {
        this.error = "Se ha producido un error técnico, vuelva a intentarlo mas tarde";
      }
    }
    cancelar()
    {
      window.location = "/home";
    }
  }
    window.customElements.define(NuevoUsuario.is, NuevoUsuario);
  </script>
</dom-module>
