<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="header-page">
  <template>
    <header>
      <div class="container"><a href="[[url]]"><img src="http://127.0.0.1:8081/img/965x100-logo-tech-u.png"></img></a></div>
    </header>
    <br><br>
  </template>
  <script>
      /**
       * @customElement
       * @polymer
       */
      class HeaderPage extends Polymer.Element {
        static get is() { return 'header-page'; }
        static get properties() {
          return {
            url: {
              type: String
            }
          };
        }
      }
      window.customElements.define(HeaderPage.is, HeaderPage);
    </script>
</dom-module>
