<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../src/desconectar-usuario/desconectar-usuario.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <header-page url="/accounts/"></header-page>
    <section>
        <article>
    <div class="container">
      <div class="row justify-content-center">
          <h3>Gestión de usuario</h3>
      </div>
      <div class="row">
        <div class="col">
          <paper-input id="idName" type="text" label="Nombre" error-message="Debes informar tu nombre" required value="{{name::input}}"/></paper-input>
        </div>
        <div class="col">
          <paper-input id="idLast_Name" type="text" label="Apellidos" error-message="Debes informar tus apellidos" required value="{{last_name::input}}"/></paper-input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <paper-input id="idEmail" label="Email" type="email" disabled value="{{email::input}}"></paper-input>
        </div>
        <div class="col">
          <paper-input id="idPhone" type="tel" maxlength=9 minlength=9 label="Teléfono" error-message="Debes informar tu teléfono" required value="{{phone::input}}"/></paper-input>
        </div>
      </div>
    <div id="idCapaError" class="alert alert-danger" role="alert" style="display:none">{{error}}</div>
    <div id="idCapaMsg" class="alert alert-primary" role="alert" style="display:none">{{msg}}</div>
    <br><br>
    <div class="row justify-content-center">
      <div clas="col">
        <button class="btn btn-success" on-click="updateUser">Guardar</button>
        <button class="btn btn-success" on-click="cancelar">Cancelar</button>
      </div>
    </div>


    <desconectar-usuario></desconectar-usuario>
  <div>
  </article>
  </section>
    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apibr/v1/users/"
      handle-as="json"
      on-response="showData"
      headers="{{getHeaders()}}">
    </iron-ajax>

    <iron-ajax
      id="updateUser"
      url="http://localhost:3000/apibr/v1/users"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      headers="{{getHeaders()}}">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
            email:{
            type: String
          },
          name:{
            type: String
          },
          last_name:{
            typer: String
          },
          phone:{
            type:Number
          }
        };
      }

      showData (data){
        //console.log(data);
        //siempre devuelve un array
        console.log(data.detail.response);
        this.email = data.detail.response.email;
        this.phone = data.detail.response.phone;
        this.last_name = data.detail.response.last_name;
        this.name = data.detail.response.name;
      }

      updateUser(){
        var dataUser = {
          "phone" : this.phone,
          "email" : this.email,
          "name" : this.name,
          "last_name": this.last_name
        };
        if (this.$.idName.validate() && this.$.idLast_Name.validate() && this.$.idPhone.validate())
        {
          this.$.updateUser.body = JSON.stringify(dataUser);
          this.$.updateUser.generateRequest();
        }
      }

      manageAJAXResponse (data){
        this.msg = "Datos actualizados";
        this.$.idCapaMsg.style.display="block";
      }

      showError (error){
        console.log(error);
        this.$.idCapaError.style.display="block";
        if (error.detail.request.response.msg!=null)
          this.error = error.detail.request.response.msg;
        else {
          this.error = "Se ha producido un error técnico, vuelva a intentarlo mas tarde";
        }
      }

    getHeaders()
    {
      console.log("getHeaders");
      var token = window.sessionStorage.getItem("token");
      var cabecera = {
        "x_access_token": token
      };
      return cabecera;
    }

    cancelar()
    {
      window.location = "/accounts/";
    }
  }
    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
