<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../src/desconectar-usuario/desconectar-usuario.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="contratar-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <header-page url="/accounts/"></header-page>
    <section>
    <article>
      <div class="container">
        <div class="row justify-content-center">
            <h3>Nueva Cuenta</h3>
        </div>
        <div class="row">
          <div class="col">
            <paper-input id="idAlias" label="Alias" type="text" error-message="Elige un nombre para tu cuenta" required value="{{alias::input}}"></paper-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <paper-input id="idBalance" type="Number" label="Aportación inicial" error-message="Tienes que hacer una aportación" required value="{{balance::input}}"/></paper-input>
          </div>
        </div>
        <div id="idCapaError" class="alert alert-danger" role="alert" style="display:none">{{error}}</div>
        <br><br>
        <div class="row justify-content-center">
          <div clas="col">
            <button class="btn btn-success" on-click="newAccount">Guardar</button>
            <button class="btn btn-success" on-click="cancelar">Cancelar</button>
          </div>
        </div>
        <desconectar-usuario></desconectar-usuario>
      <div>
    </article>
  </section>
    <iron-ajax
      id="doNewAccount"
      url="http://localhost:3000/apibr/v1/accounts"
      content-type="application/json"
      method="PUT"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      headers="{{getHeaders()}}">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class ContratarCuenta extends Polymer.Element {
      static get is() { return 'contratar-cuenta'; }
      static get properties() {
        return {
          alias:{
            type: String
          },
          balance:{
            type: Number
          },
          currency:{
            type: String
          }
        };
      }

    newAccount(){
      console.log("todo ok");
      var userData = {
        "alias" : this.alias,
        "balance": this.balance,
        "currency": "EUR"
      };
      if (this.$.idAlias.validate() && this.$.idBalance.validate())
      {
        this.$.doNewAccount.body = JSON.stringify(userData);
        this.$.doNewAccount.generateRequest();
      }
    }


    manageAJAXResponse (data){
      window.location = "/accounts/";
    }

    showError (error){
      this.$.idCapaError.style.display="block";
      if (error.detail.request.response.msg!=null)
        this.error = error.detail.request.response.msg;
      else {
        this.error = "Se ha producido un error técnico, vuelva a intentarlo mas tarde";
      }
    }

    getHeaders()
    {
      //console.log("getHeaders");
      var token = window.sessionStorage.getItem("token");
      var cabecera = {
        "x_access_token": token
      };
      return cabecera;
    }
    cancelar()
    {
      window.location = "/accounts/";
    }

  }
    window.customElements.define(ContratarCuenta.is, ContratarCuenta);
  </script>
</dom-module>
