<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="alta-transferencia">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<header-page url="/accounts/"></header-page>
<section>
    <article>
      <div class="container">
        <div class="row justify-content-center">
            <h3>Realizar transferencia</h3>
        </div>
        <div class="row">
          <div class="col">
            <paper-input id="idAccount" type="text" label="Cuenta origen" disabled value="{{idAccount::input}}"/></paper-input>
          </div>
          <div class="col">
            <paper-input id="idcreditorAccount" type="text" label="Cuenta destino" error-message="Debes informar la cuenta destino" required value="{{creditorAccount::input}}"/></paper-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <paper-input id="idAmmount" type="Number" label="Importe" error-message="Debes indicar el importe" required value="{{amount::input}}"/></paper-input>
          </div>
          <div class="col">
            <paper-input id="idRemittanceInformation" type="text" label="Observaciones" error-message="Debes informar el campo observaciones" required value="{{remittanceInformation::input}}"/></paper-input>
          </div>
        </div>
        <div id="idCapaError" class="alert alert-danger" role="alert" style="display:none">{{error}}</div>
        <br><br>
        <div class="row justify-content-center">
          <div class="col">
            <button class="btn btn-success" on-click="realizarTransferencia">Realizar Transferencia</button>
            <button class="btn btn-success" on-click="cancelar">Cancelar</button>
          </div>
        </div>
        <desconectar-usuario></desconectar-usuario>
      <div>
    </article>
</section>
    <iron-ajax
      id="doTransfer"
      url="http://localhost:3000/apibr/v1/accounts/createWireTransfer"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      headers="{{getHeaders()}}">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class AltaTransferencia extends Polymer.Element {
      static get is() { return 'alta-transferencia'; }
      static get properties() {
        return {
          debtorAccount:{
            type: String
          },
          creditorAccount:{
            type: String
          },
          amount:{
            typer: Number
          },
          remittanceInformation:{
            type:String
          }
        };
      }

    realizarTransferencia(){
      var dataAccount = {
        "debtorAccount" : this.idAccount,
        "creditorAccount" : this.creditorAccount,
        "amount" : this.amount,
        "remittanceInformation": this.remittanceInformation
      };

      if (this.$.idAccount.validate() && this.$.idcreditorAccount.validate() && this.$.idAmmount.validate() && this.$.idRemittanceInformation.validate())
      {
          this.$.doTransfer.body = JSON.stringify(dataAccount);
          this.$.doTransfer.generateRequest();
      }
    }


    manageAJAXResponse (data){
        window.location = "/accounts/"+this.idAccount+"/transactions/";
      //this.isLogged=true;
    }

    showError (error){
      console.log(error);
      this.$.idCapaError.style.display="block";
      if (error.detail.request.response.msg!=null)
        this.error = error.detail.request.response.msg;
      else {
        this.error = "Se ha producido un error técnico, vuelva a intentarlo mas tarde";
      }
    }

    getHeaders()
    {
      //console.log("getHeaders");
      var token = window.sessionStorage.getItem("token");
      var cabecera = {
        "x_access_token": token
      };
      return cabecera;
    }

    cancelar()
    {
      window.location = "/accounts/"+this.idAccount+"/transactions/";
    }

  }
    window.customElements.define(AltaTransferencia.is, AltaTransferencia);
  </script>
</dom-module>
