<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../header-page/header-page.html">

<dom-module id="recuperar-password">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <header-page url="/home"></header-page>
    <section>
      <article>
        <div class="container">
          <div class="row justify-content-center">
              <h3>Recuperar Password</h3>
          </div>
          <div class="row">
            <div class="col">
              <paper-input id="idEmail" label="Email" type="email" error-message="Cuenta de correo no valida" required value="{{email::input}}"></paper-input>
            </div>
          </div>
          <div id="idCapaError" class="alert alert-danger" role="alert" style="display:none">{{error}}</div>
          <div id="idCapaMsg" class="alert alert-primary" role="alert" style="display:none">{{msg}}</div>
          <br><br>
          <div class="row justify-content-center">
            <div clas="col">
              <button class="btn btn-success" on-click="recPassword">Recuperar Password</button>
              <button class="btn btn-success" on-click="cancelar">Cancelar</button>
            </div>
          </div>
        <div>
      </article>
    </section>
      <iron-ajax
        method="POST"
        id="recPass"
        url="http://localhost:3000/apibr/v1/users/recPass"
        handle-as="json"
        content-type="application/json"
        on-response="manageAJAXResponse"
        on-error="showError"
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

    class RecuperarPassword extends Polymer.Element {
      static get is() { return 'recuperar-password'; }
      static get properties() {
        return {
          email:{
            type: String
          }
        };
      }

    recPassword(){
      var dataPass = {
        "email": this.email
      };
      if (this.$.idEmail.validate())
      {
        this.$.recPass.body = JSON.stringify(dataPass);
        this.$.recPass.generateRequest();
      }
    }

    manageAJAXResponse (data){
      this.msg = "Se te ha mandado un mail para recupearar tu password";
      this.$.idCapaMsg.style.display="block";
      //window.location = "/newPass/";
    }

    showError (error){
      console.log(error);
      this.$.idCapaError.style.display="block";
      if (error.detail.request.response.msg!=null)
        this.error = error.detail.request.response.msg;
      else {
        this.error = "Se ha producido un error técnico, vuelva a intentarlo mas tarde";
      }
    }

    cancelar()
    {
      window.location = "/home";
    }
  }
    window.customElements.define(RecuperarPassword.is, RecuperarPassword);
  </script>
</dom-module>
