<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="desconectar-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <br>
      <div class="row justify-content-center">
          <button class="btn btn-danger" on-click="desconectar">Desconectar</button>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DesconectarUsuario extends Polymer.Element {

      static get is() { return 'desconectar-usuario'; }
      desconectar (){
        window.sessionStorage.removeItem("token");
        window.location = "/home";
      }
    }
    window.customElements.define(DesconectarUsuario.is, DesconectarUsuario);
  </script>
</dom-module>
